<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/estilo-login.css">
  <title>Iniciar Sesion</title>
</head>
<body>

<div class="login">
  <h1>Iniciar Sesion</h1>
  <form action="" method="POST">
    <input type="text" placeholder="Nombre de Usuario" required><img src="img/user.png" alt="user"><br>
    <input type="password" placeholder="Ingrese la Contraseña" required><img src="img/lock.png" alt="clave"><br>
    <button type="submit">Ingresar</button>
  </form>
</div>

</body>
</html>